services:
    backend:
        image: yaharuott/url_shortener 
        build: .
        environment:
          - SERVICE_PORT=8080
          - LENGTH_GEN=8
          - DB_NAME=link_shortener
          - DB_PORT=3306
          - DB_HOST=database
          - DB_PASS=1212!!AaLXX
          - DB_USER=root
        ports:
          - 8080:8080
        depends_on: 
          - database
        restart: on-failure
    database:
        image: mysql:8.4
        environment:
          - MYSQL_ROOT_PASSWORD=1212!!AaLXX
          - MYSQL_DATABASE=link_shortener
